@CHARSET "UTF-8";

.beijing{
	width:100%;
	height:100%;
	/* background-color:#71B9E0; */
	background:url(../img/50d67aa68120b.jpg) no-repeat;
}
body{
	width:100%;
	height:100%;
	/* background-color:#71B9E0; */
	background:url(../img/50d67aa68120b.jpg) no-repeat;
}